body {
	color: rgb(78,60,14);
	font-family: 'helvetica', arial, sans-serif;
	background: url('../images/natural_paper.png') repeat top left;
	/*background-color: rgb(103,143,115);*/
	padding: 10px;
	margin: 2%;
	font-size: 100%;
}

div#content {
	width: 100%;
	position: relative;
}

h1 {
	font-size: 2em;
}

a:link {
	text-decoration: none;
	color: #d3dd9f;
	font-weight:bold;
}
	a:visited {
		color: #d1c578;}

/*.recipe_form {
	width: 48%;
	margin: 1% 1% 1% 0%;
	float:left;
}*/

.recipe_form select {
	font-size: 1em;
	padding: 3px;
	line-height: 25px;
	/*
	color: #263143;
	background-color: #899dbd;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: inset 0px 0px 3px 2px #abbddb; */
}

.controls {
	margin: 2% 1% ;
	height: 25px;
	position: relative;
}

.controls *{
	float: left;
	margin-right: 10px;
	position: relative;
}

.input_area {
	float: left;
	/*margin: 1% 1% 1% 0%;*/
	position: absolute;
	font-family: 'andale mono', monaco, 'Lucida Console', 'courier new';
	font-size: 1em;
	width: 48%;
	height: 300px;
}

#recipe_input {
	background: transparent;
	color: rgb(78,60,14);
}

#backmodel {
	padding: 3px;
	background-color: rgba(255,255,255, 0.1);
    color: rgba(255, 0, 0, 0.0);/* make text invisable */
}

#converted-recipe{
	float: right;
	width: 48%;
	height: 300px;
	font-family: 'andale mono', monaco, 'Lucida Console', 'courier new';
	/*color: rgb(60,115,109); */
	/*margin: 1% 0% 1% 1%;*/
	border: 1px inset #fff;
	background-color: rgba(255,255,255, 0.1);
}



@media(max-width: 800px) {
	#recipe_input, #converted-recipe, #backmodel { 
		width: 98%;
		margin: 0%;
		clear: both;
	}
}

.quantity {
    /*background-color: #D8DFEA;*/
  /*text-shadow: 0px 0px 6px rgba(164, 226, 97, 1);*//* make background visable */
  /*text-shadow: 0px 0px 6px rgba(255, 0, 97, 1);*/
  
  text-shadow: -0.1em 0 rgba(194,212,190, 1), 
  				0 0.1em rgba(194,212,190, 1), 
  				0.1em 0 rgba(194,212,190, 1), 
  			   0 -0.1em rgba(194,212,190, 1);
}

.unit {
  /*text-shadow: 0px 0px 6px rgba(149, 228, 228, 1); *//* make background visable */
   text-shadow: -0.1em 0 rgba(217,194,174, 1), 
   				 0 0.1em rgba(217,194,174, 1), 
   				 0.1em 0 rgba(217,194,174, 1), 
   				0 -0.1em rgba(217,194,174, 1); 
   				/*(125,167,190, 0.7)*/
}


