body {
	color: #97b1ad;
	font-family: 'helvetica', arial, sans-serif;
	background-color: #263143;
	/*background: #fff url('http://thatnothingbewasted.files.wordpress.com/2011/04/green_vegetables.jpg') repeat right top;*/
	padding: 10px;
	margin: 2%;
	font-size: 77%;
}

div#content {
	width: 100%;
	position: relative;
}

h1 {
	font-size: 2.5em;
}

a:link {
	text-decoration: none;
	color: #d3dd9f;
	font-weight:bold;
}
	a:visited {
		color: #d1c578;}

/*.recipe_form {
	width: 48%;
	margin: 1% 1% 1% 0%;
	float:left;
}*/

#recipe_input {
	float: left;
	/*margin: 1% 1% 1% 0%;*/
	/*background-color: #1A212D;*/
	position: absolute;
	background: transparent;
	font-family: 'monofur', monaco, 'courier new';
	color: #899dbd;
	font-size: 1em;
	width: 48%;
	height: 300px;
}

.recipe_form button {
/*	margin: 1%; */
	font-size: 1em;
	color: #263143;
	background-color: #899dbd;
	border: none;
	height: 25px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: inset 0px 0px 3px 2px #abbddb; 
}

.recipe_form select {
	font-size: 1em;
	padding: 3px;
	line-height: 25px;
	/*
	color: #263143;
	background-color: #899dbd;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: inset 0px 0px 3px 2px #abbddb; */
}

#range-value {
	font-size: 14px;
	font-weight: bold;
	width: 30px;
	
}

.controls {
	margin: 2% 1% ;
	height: 25px;
	position: relative;
}

.controls *{
	float: left;
	margin-right: 10px;
	position: relative;
}

ul#converted-recipe {
	padding: 10px;
	font-size: 14px;
}

ul#converted-recipe li {
	list-style-type: none;
}

#converted-recipe{
	float: right;
	width: 48%;
	height: 300px;
	/*margin: 1% 0% 1% 1%;*/
	border: 1px inset #fff;
	background-color: #222b3b;
}

#backmodel {
	float: left;
	/*margin: 1% 1% 1% 0%;*/
	padding: 3px;
	position: absolute;
	font-family: monofur, monaco;
	color: #899dbd;
	font-size: 1em;
	width: 48%;
	height: 300px;
    color: rgba(255, 0, 0, 0.0);/* make text invisable */
}

@media(max-width: 800px) {
	#recipe_input, #converted-recipe, #backmodel { 
		width: 98%;
		margin: 0%;
		clear: both;
	}
}

.quantity {
    /*background-color: #D8DFEA;*/
  background: rgba(255, 0, 0, 0.3);/* make background visable */
}

.unit {
  background: rgba(0, 255, 0, 0.3);/* make background visable */
}


